{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    /* .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; } */


</style>  

<div class="row text-center">
  {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">

{{ form_label(form.objet, "Mon libellé a été modifié") }}
             {{ form_widget(form.objet, {'attr': {'class': 'btn-light'} }) }}
             {{ form_errors(form.objet) }}
    </div>


    {{ form_end(form) }}

</div>

{% endblock %}
